body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer, header {
    width: 100vw;
    background-color: #ff3766;
    text-align: center;
    color: white;
}

header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    vertical-align: middle;
}

footer {
     padding: 50px 0;
}

b {
    color: #ff3766;
}

.swiper {
    width: 220px;
    height: 300px;
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
    .swiper {
        width: 400px;
        height: 500px;
    }
    
}

@media screen and (min-width: 1200px) {
    .swiper {
        width: 600px;
        height: 700px;
    }
}

.swiper-slide {
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #ff3766;
    background-size: cover;
}

.swiper-slide:nth-child(1n) {
    background-image: url("./images/slide/1.png");
}

.swiper-slide:nth-child(2n) {
    background-image: url("./images/slide/2.jpg");
}

.swiper-slide:nth-child(3n) {
    background-image: url("./images/slide/3.jpg");
}

.swiper-slide:nth-child(4n) {
    background-image: url("./images/slide/4.jpg");
}

.swiper-slide:nth-child(5n) {
    background-image: url("./images/slide/5.jpg");
}

.swiper-slide:nth-child(6n) {
    background-image: url("./images/slide/6.jpg");
}

.swiper-slide:nth-child(7n) {
    background-image: url("./images/slide/7.jpg");
}

.swiper-slide:nth-child(8n) {
    background-image: url("./images/slide/8.png");
}

.swiper-slide:nth-child(9n) {
    background-image: url("./images/slide/9.jpg");
}

.swiper-slide:nth-child(10n) {
    background-image: url("./images/slide/10.png");
}

.love-box {
    margin: 20px 0;
    border: #ff3766 2px solid;
    width: 85%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.love-box::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 180px;
    border: #ff3766 2px solid;
    background-image: url("./images/love.png");
    background-size: cover;
    z-index: 1;
}


.love-box h2 {
    text-align: center;
    font-size: 20px;
    color: #ff3766;
}

.love-box p {
    text-align: center;
    font-size: 18px;
    color: #282828;
}

.custom-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #ff3766;
    padding: 15px;
    border-radius: 20px;
    width: 90%;
    font-family: sans-serif;
    color: white;
}

.custom-player img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.song-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    display: flex;
    align-items: center;
    gap: 5px;
}


.info {
    margin-bottom: 5px;
}



.progress {
    width: 12.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (min-width: 1200px) {
    .progress {
        width: 20rem;
    }
    
}

#seekBar {
    width: 100%;
    accent-color: white;
}

.times {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#playPause {
    background: none;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: -5px;
    flex-shrink: 0;
}

